@import url(index.css);

html {
    scroll-behavior: smooth;
    scroll-padding-top: 12vh;
}

.text-align {
    text-align: center;
}

#search-input {
    min-width: 30vw;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-radius: 6px;
    margin-inline: 5vw;
    margin-bottom: 2rem;
    padding: 0.3em 0.5em;
}

.product-wrapper {
    margin-inline: 5vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0.4px 0.4px 4px #ccc;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px #ccc,
                -3px -3px 5px #fafafa;
}

.card__image {
    aspect-ratio: 4/5;
    margin-inline: 15%;
    margin-bottom: 1.5rem;
}

.card__title {
    color: var(--color-body);
    font-size: var(--fs-500);
    margin-bottom: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card__price {
    color: var(--color-accent);
    letter-spacing: 2px;
    font-size: var(--fs-600);
}

.card button {
    outline: 0;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 0.5em 1.5em;
    background-color: var(--color-accent);
    transition: all 0.5s;
    font-size: 1.4rem;
}

.card button:hover {
    border: 1px solid var(--color-accent);
    background-color: #fff;
    color: var(--color-accent);
}

.category {
    margin: 10rem 0 4rem 0;
    margin-inline: auto;
}

.package {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--color-background);
    margin-inline: 10vh;
    margin-bottom: 10vh;
    padding: 1.5rem;
    min-height: 70vh;
    gap: 4rem;
    box-shadow: 10px 10px 20px #cacaca, -10px -10px 20px #f6f6f6;
    border-radius: 6px;
}

.package:nth-child(odd) .package__img {
    order: 2;
}

.package:nth-child(odd) .package__content {
    margin-left: 4rem;
}

.package__img {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
}

.package__content {
    height: 50%;
    max-width: 45ch;
    align-self: center;
}

.package__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.package__content h3 {
    margin-bottom: 2rem;
}

.package__content p {
    margin-bottom: 3rem;
}

.package__btn {
    padding: 6px 18px;
    color: #fff;
    background-color: var(--color-accent);
    outline: 0;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.package__btn:hover {
    border: 1px solid var(--color-accent);
    background-color: #fff;
    color: var(--color-accent);
}

.loading-img {
    background-color: #fafafa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
